@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InstaPunchout .NET 4.6.1</h1>
    <p class="lead">This is a starter kit to developer InstaPunchout Plugin for .NET 4.6.1</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            There is placeholder functions that need to be coded to function properly with the ecommerce system.
            All these functions are marked with a // TODO:
        </p>
    </div>
    <div class="col-md-4">
        <h2>Cart Mapping</h2>
        <p>As soon as the Cart functionality is added, a mapping needs to be done on InstaPunchout side for the Punchout button to work.</p>
    </div>
    <div class="col-md-4">
        <h2>More Info</h2>
        <p><a class="btn btn-default" href="https://instapunchout.com">Learn more &raquo;</a></p>
    </div>
</div>